<div class="bg-white">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Nuestras Instalacicones</h2>

    <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <a href="#" class="group">
        <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
          <img src="https://scontent.faep16-1.fna.fbcdn.net/v/t1.18169-9/943228_598730213483986_412188579_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=cdbe9c&_nc_eui2=AeEshRMhSUR0S3ExMTRwq8wNxpIA2wqyPBbGkgDbCrI8FnBR6yUMo45XEPv-iDRma5z5Tr7VfOe9inyg68tuQRW6&_nc_ohc=618cDNv20esAX9z7BpX&_nc_ht=scontent.faep16-1.fna&oh=65d6c7220fc8ee10f9f68ed94120b965&oe=61B9F8DE" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">
          Nuestro Predio
        </h3>
        <p class="mt-1 text-lg font-medium text-gray-900">
          
        </p>
      </a>

      <a href="#" class="group">
        <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
          <img src="https://mapio.net/images-p/10032834.jpg" alt="Olive drab green insulated bottle with flared screw lid and flat top." class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">
          
        </h3>
        <p class="mt-1 text-lg font-medium text-gray-900">
          
        </p>
      </a>

      <!-- <a href="#" class="group">
        <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-03.jpg" alt="Person using a pen to cross a task off a productivity paper card." class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">
          Focus Paper Refill
        </h3>
        <p class="mt-1 text-lg font-medium text-gray-900">
          $89
        </p>
      </a>

      <a href="#" class="group">
        <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-04.jpg" alt="Hand holding black machined steel mechanical pencil with brass tip and top." class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">
          Machined Mechanical Pencil
        </h3>
        <p class="mt-1 text-lg font-medium text-gray-900">
          $35
        </p>
      </a>

      <!-- More products... -->
    </div>
  </div>
</div>



<!-- <div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="text-lg font-bold text-4xl">Previews</h1>
    <%= link_to 'New preview', new_preview_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="previews" class="min-w-full">
    <%= render @previews %>
  </div>
  
</div>
 -->
</div>
