<h1>Editing Bathroom Reservation</h1>

<%= render 'form', bathroom_reservation: @bathroom_reservation %>

<%= link_to 'Show', @bathroom_reservation %> |
<%= link_to 'Back', bathroom_reservations_path %>
